@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
header{
    height: 90px;
    background-color: #ef3e42;

    /* alinear contenido */
    display: flex;
    justify-content: center; /* eje x - (horizontal) */
    align-items: center; /* eje y - (vertical) */
}

    nav a{
        color: #fff;
        font-size: 20px;
        text-decoration: none; /* quitar subrayado */

        /* UX */
        padding: 10px;
    }

main{
    height: 690px;
    /* para centrar una caja, cobinamos ancho y margin: auto */
    width: 1000px;
    margin: auto;

    
}
footer{
    height: 150px;
    background-color: #58585A;
}